@font-face {
    font-family:'MeuTexto';  /* Dê um nome à sua fonte */
    src: url('font1.ttf') format('truetype');
    /* Adicione outros formatos de fonte, se necessário, como woff, woff2, etc. */
}

@font-face {
    font-family:'MeuTexto2';  /* Dê um nome à sua fonte */
    src: url('font2.ttf') format('truetype');
    /* Adicione outros formatos de fonte, se necessário, como woff, woff2, etc. */
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #55749e; /* Adicione uma cor de fundo opcional */
}

header {
    text-align: center;
}

.título {
    max-width: 20%;
    height: auto;
    animation: floatAnimation 2s ease-in-out infinite;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

header h1 img.título {
    height: 20vh;
    animation: floatAnimation 2s ease-in-out infinite;
}

header nav {
    margin-top: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    font-family: 'MeuTexto2', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    border-radius: 0; /* Ajuste este valor para alterar o arredondamento das bordas */
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1); /* Ajuste este valor para alterar o nível de escala da animação */
}

footer {
    font-family: 'MeuTexto', sans-serif;
    text-align: center;
    padding: 10px;
    background-color: #285073;
    width: 100%;
    color: azure;
}

#pato {
    max-width: 50px; /* Ajuste conforme necessário */
    height: auto;
    margin-top: auto; /* Cola o pato ao chão do monitor */
    position: absolute;
    left: 0;
    animation: andarPato 5s linear infinite; /* Ajuste a duração conforme necessário */
}

@keyframes andarPato {
    0% {
        left: 0;
    }
    100% {
        left: 100%; /* Mova o pato para a direita (100% do contêiner pai) */
    }
}
